.dashboard{
    text-align:center;
    margin:auto;
}
.button{
    background-color:green;
    color:white;
    padding: 15px 100px;
    border: 1px groove aqua;
}
.loginbutton{
    text-align:center;
}
.page{
    margin: 0px 200px 0px 200px;
}